{% extends 'templates/app.twig' %}

{% block content %}
    <div class="chip right nextgarde">
        Prochaine garde prévue le 01/01/2017 à l'Hôpital Saint-Pierre au poste Porte
    </div>
        {# ici sont mises les dernières échanges de garde auxquels l'user a participé #}
    <div class="row">
        <div class="col s12">
            <h5><i class="material-icons">thumbs_up_down</i> Vos derniers échanges</h5>
            <table class="bordered highlight responsive-table">
                <thead>
                <tr>
                    <th><i class="material-icons">info</i> Statut</th>
                    <th><i class="material-icons">assignment</i> Type</th>
                    <th><i class="material-icons">room</i> Hôpital</th>
                    <th><i class="material-icons">today</i> Date</th>
                    <th><i class="material-icons">person_pin</i> Avec</th>
                    <th><i class="material-icons">chat</i> Commentaires</th>
                    <th><i class="material-icons">edit</i> Action</th>
                </tr>
                </thead>

                <tbody>
                <tr class="light-green darken-1 white-text">
                    <td>Accepté</td>
                    <td>Don</td>
                    <td>Saint-Pierre</td>
                    <td>12/06/2017</td>
                    <td>Marcel Proust</td>
                    <td>Merci</td>
                    <td></td>
                </tr>
                <tr>
                    <td>En attente</td>
                    <td>Echange</td>
                    <td>Saint-Pierre</td>
                    <td>19/06/2017</td>
                    <td>Jean de la Fontaine</td>
                    <td>Pas de problème pour que je la prenne :)</td>
                    <td><a class="waves-effect waves-light btn">Répondre</a></td>
                </tr>
                <tr class="red darken-3 white-text">
                    <td>Refusé</td>
                    <td>Reprise</td>
                    <td>Saint-Pierre</td>
                    <td>24/06/2017</td>
                    <td>Marcel Proust</td>
                    <td>Désolé, on me l'a déjà reprise !</td>
                    <td></td>
                </tr>
                <tr>
                    <td>En attente</td>
                    <td>Echange</td>
                    <td>Saint-Pierre</td>
                    <td>24/06/2017</td>
                    <td>Victor Hugo</td>
                    <td></td>
                    <td><a class="waves-effect waves-light btn">Répondre</a></td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination right-align">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>

        </div>
        <div class="col s12">
            <h5><i class="material-icons">error_outline</i> Notifications</h5>
            <table class="bordered highlight responsive-table">
                <thead>
                <tr>
                    <th><i class="material-icons">room</i> Hôpital</th>
                    <th><i class="material-icons">today</i> Date</th>
                    <th><i class="material-icons">error_outline</i> Message</th>
                </tr>
                </thead>

                <tbody>
                {% for notification in notifications %}
                    <tr class="{{ notification.type }}">
                        <td>{{ notification.hospital.nom }}</td>
                        <td>{{ notification.date }}</td>
                        <td>{{ notification.message }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <ul class="pagination right-align">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>

        </div>
    </div>
{% endblock %}