/*
 * CSS
 * Materialize custom
 * Mobile first
*/

body {
    font-family: "PT Sans", sans-serif;
}

nav {
    background-color: #129cda;
}

.primary {
    margin: .5em;
}

.nav__username {
    font-weight: 800;
    cursor: pointer;
    padding: 0 1em;
}

.hospital {
    display: block !important;
}

.pagination li.active {
    background-color: #607D8B;
}

.btn {
    background-color: #326380;
}

.inside-crumbs {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.inside-crumbs .breadcrumb, .inside-crumbs .breadcrumb:before {
    color: #333;
}

.login__form {
    margin-top: 5em;
}

@media (min-width: 991px){
    .brand-logo {
        margin-left: .5em;
    }
}