/*
 * CSS
 * Materialize custom
 * Mobile first
*/

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?hl2xz4');
    src:  url('../fonts/icomoon.eot?hl2xz4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hl2xz4') format('truetype'),
    url('../fonts/icomoon.woff?hl2xz4') format('woff'),
    url('../fonts/icomoon.svg?hl2xz4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hospital:before {
    content: "\e900";
}

.icon-hospital.little:before {
    font-size: 1.5em;
    padding-right: .5em;
}

.icon-hospital.big:before {
    font-size: 2em;
    line-height: 60px;
}

/* cyrillic-ext */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url("../fonts/ptsans.woff2") format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url("../fonts/ptsans2.woff2") format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url("../fonts/ptsans3.woff2") format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url("../fonts/ptsans4.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url("../fonts/materialicons.woff2") format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "PT Sans", sans-serif;
}

nav {
    background-color: #129cda;
}

.primary {
    margin: .5em;
}

.nav__username {
    font-weight: 800;
    cursor: pointer;
}

.hospital {
    display: block !important;
}

.pagination li.active {
    background-color: #607D8B;
}

tr.red.darken-3 {
    color: #f0f0f0;
}

.btn {
    background-color: #326380;
}

.inside-crumbs {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.inside-crumbs .breadcrumb, .inside-crumbs .breadcrumb:before {
    color: #333;
}

.login__form {
    margin-top: 5em;
}

.nextgarde {
    height: auto;
}

@media (min-width: 991px){
    .nextgarde {
        position: absolute;
        right: 1em;
        margin-top: 7px;
    }
    .brand-logo {
        margin-left: .5em;
    }
}