<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Stages ULB</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stagesULB/public/assets/css/materialize.min.css">
	<link rel="stylesheet" href="/stagesULB/public/assets/css/app.css">
</head>
<body>
	{% include 'templates/partials/navigation.twig' %}
	<div class="content">
		{% include 'templates/partials/flash.twig' %}
		{% block content %}
		    
		{% endblock %}
	</div>
    <script type="text/javascript" src="/stagesULB/public/assets/js/jquery.min.js"></script>
    <script src="/stagesULB/public/assets/js/materialize.min.js"></script>
    <script src="/stagesULB/public/assets/js/app.js"></script>
</body>
</html>